@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared style */
body {
  margin: 0px;
  padding: 0px;
}

.display-flex {
  display: flex;
}

header,
.banner {
  max-width: 1160px;
  margin: 0 auto;
}

.primary-btn {
  padding: 10px 60px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 12px;
}

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo-container {
  justify-content: center;
  align-items: center;
}
.logo-name {
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
}
.logo-image {
  height: 62px;
  width: 62px;
}

.nav-menu-icon {
  width: 30px;
  height: 30px;
  display: none;
}
.nav-links {
  display: flex;
  gap: 32px;
}
.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

#home {
  color: orange;
  font-weight: bold;
}

#about {
  color: #01acfd;
}

#facilities {
  color: #05d4df;
}

#admission {
  color: #5d58ef;
}

.nav-btn {
  background-color: orange;
}

/* banner related styles */

.banner {
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.banner-heading {
  font-weight: bold;
  font-size: 56px;
  margin: 0px;
}

.banner-des {
  font-weight: normal;
  font-size: 20px;
  margin: 24px 0px;
}

.banner-btn {
  background-color: black;
}

/* footer related styles */
.footer {
  background-color: #01acfd;
}
.footer-container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 60px;
}
.footer-logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 300px;
  margin-bottom: 35px;
}
.logo-des {
  max-width: 400px;
  margin: 0px;
}

.footer-links {
  padding: 0;
}
.footer-item {
  list-style: none;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.footer-column-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 32px;
}
/* mobile device responsiveness */

@media screen and (max-width: 576px) {
  .nav-links,
  .nav-btn,
  .logo-name {
    display: none;
  }

  .nav-menu-icon {
    display: block;
  }
  .navbar {
    margin: 12px 16px;
  }
  header {
    max-width: 100%;
    margin: 0;
    border-bottom: 1px solid orange;
  }
  /* banner responsiveness */
  .banner {
    max-width: 100%;
    padding: 20px 0px;
    margin: 0 18px;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .banner-heading {
    font-size: 32px;
    max-width: 357px;
  }
  .banner-des {
    font-size: 14px;
    max-width: 357px;

    margin: 18px 0px;
  }

  .primary-btn {
    padding: 6px 24px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
  }

  .banner-img-container {
    padding: 10px;
  }

  .banner-image {
    max-width: 100%;
    height: auto;
  }
}
